@model Genre


<h2 class="genre-title">@Model.Name - All Movies</h2>

<div class="movie-slider-container">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 g-4" id="slider-@Model.Name">
        @foreach (var movie in Model.Movies)
        {
            <div class="movie-card">
                <a href="@Url.Action("MovieDetails", "Movie", new { movieId = movie.Id })" class="movie-link">
                    <img src="https://image.tmdb.org/t/p/w200/@movie.Poster_path" alt="@movie.Title poster" class="movie-poster" />
                    <h5>@movie.Title</h5>
                </a>
            </div>
        }
    </div>
</div>

@if (ViewBag.TotalPages > 1)
{
    <nav class="mt-4">
        <ul class="pagination justify-content-center">
            <!-- Previous page button -->
            @if (ViewBag.Page > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/Movie/GenreDetails/@ViewBag.GenreId?page=@(ViewBag.Page - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }

            <!-- Page number buttons -->
            @for (int i = 1; i <= ViewBag.TotalPages && i <= 10; i++)
            {
                <li class="page-item @(i == ViewBag.Page ? "active" : "")">
                    <a class="page-link" href="/Movie/GenreDetails/@ViewBag.GenreId@(i == 1 ? "" : "?page=" + i)">@i</a>
                </li>
            }

            <!-- Next page button -->
            @if (ViewBag.Page < ViewBag.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="/Movie/GenreDetails/@ViewBag.GenreId?page=@(ViewBag.Page + 1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
}