@model Genre

<h2 class="genre-title">@Model.Name - Alle Film</h2>

<div class="movie-slider-container">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 g-4" id="slider-@Model.Name">
        @foreach (var movie in Model.Movies)
        {
            <div class="movie-card">
                <a href="@Url.Action("MovieDetails", "Movie", new { movieId = movie.Id })" class="movie-link">
                <img src="https://image.tmdb.org/t/p/w200/@movie.Poster_path" alt="@movie.Title poster" class="movie-poster" />
                <h5>@movie.Title</h5>
                </a>
            </div>
        }
    </div>
</div>

<div class="load-more-container">
    <a href="javascript:void(0)" id="loadMoreBtn" class="btn">Load More</a>
</div>

<script>
    let currentPage = @ViewBag.CurrentPage;
    const genreId = @Model.Id;

    document.getElementById("loadMoreBtn").addEventListener("click", function () {
        currentPage++; // Gå til næste side

        fetch(`/Movie/LoadMoreMovies?genreId=${genreId}&page=${currentPage}`)
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    let movieContainer = document.getElementById("slider-@Model.Name");
                    data.movies.forEach(movie => {
                        let movieCard = `
                            <div class="movie-card">
                                <a href="/Movie/MovieDetails?movieId=${movie.id}" class="movie-link">
                                    <img src="https://image.tmdb.org/t/p/w200/${movie.poster_path}" alt="${movie.title} poster" class="movie-poster" />
                                    <h5>${movie.title}</h5>
                                </a>
                            </div>`;
                        movieContainer.innerHTML += movieCard;
                    });
                } else {
                    alert(data.message); // Ingen flere film
                }
            })
            .catch(error => console.error("Fejl ved hentning af film:", error));
    });
</script>